/* overall font and font size for body text */
body {
  font-family: 'Open Sans', sans-serif;
  background-image: url("https://samsilcox.files.wordpress.com/2015/11/tiled-metal.png");
  font-size: 16px;
  line-height: 1;
}

/* this sets the look and alignment for the area where information is input */
textarea{
  background: transparent;
  border: none;
  resize: none;
  color:whitesmoke;
  border-left: 1px solid black;
  padding: 10px;
}

/* bootstrap element look and alignment */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: whitesmoke;
}

/* this makes the textarea wrap inside the element */
.description{
  white-space: pre-wrap;
  background-color:transparent;
}

/* this sets alignment and border for time on left side of screen */
.time-block{
  text-align: center;
  border-radius: 15px;
  background-color:transparent;
}

/* this sets the height, text wrapping, border on the calendar inputs */
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

/* this sets the background color text color and border for the time slots */
.hour {
  background-color: #ffffffa2;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color: #000000;
  border-top: 1px dashed #000000;
}

/* this colors any calender input that is less than the current time */
.past {
  background-color: rgba(0, 0, 0, 0.425);
  color: white;
}

/* this colors any calendar input that is equal to the current time */
.present {
  background-color: #ff6961a8;
  color: white;
}

/* this colors any calendar input that is greater than the current time  */
.future {
  background-color: #77dd77af;
  color: white;
}

/* this sets the attributes for the save button */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

/* this is a pseudo element that changes the color of the save button when the cursor hovers over it */
.saveBtn i:hover {
  font-size: 30px;
  transition: all .3s ease-in-out;
}

/* this changes the size and weight of the items in class lead */
.lead {
  font-weight: bolder;
  font-size: 25px;
}